/* ----------__________ MOBILE VIEW __________---------- */

body {
	max-width: 100vw;
	margin: 0 auto;
	padding: 0;
}

/* ----------__________ NAVIGATION __________---------- */

.top_nav {
	position:static;
	top: 0;
  width: 100%;
	display: block;
	background-color: #594545;
	color: #FFF8EA;
	font-size: 24px;
	font-family: "sans-serif", arial;
  z-index:10;
  opacity: 1;
  align-items: center;
  padding-bottom: 2%;
}

.left_nav img {
	display: block;
	max-width: 90%;
	width: 50%;
	margin: 0 auto;
	padding: 1% 0%;
	border-radius: 50%;
	opacity: 1;
}

.right_nav ul, .right_nav h1 {
	display: block;
	margin: 0 auto;
	padding-left: 0;
	text-align: center;
	align-items: center;
}

.right_nav li {
	display: block;
	margin: 0% 20% 2% 20%;
	padding: 1% 0%;
	transition: 1s easy-in;
	border: 2px #FFF8EAff;
	border-style: solid;
	border-radius: 12%;
}

.right_nav li:hover {
	border-color: #FFF8EAff;
	background-color: #594545cc;
	color: #FFF8EA;
}

.right_nav a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fafafa;
}

.right_nav a:hover {
	color: #FFF8EA;
}

/* ----------__________ CONTENT __________---------- */

.content {
  padding: 16px;
  margin-top: 120px;
  height: 80%; /* Used in this example to enable scrolling */
}

.current_page {
	border-color: rgba(0, 200, 0, 0.5);
	background-color: #fcfcfc20;
}

#page_header {
	font-size: 44px;
}

@media screen and (min-width:400px) {
	#page_header {
		font-size: 82px;
	}
}

.content section p, .content section li {
	font-size: 32px;
	font-family: arial, serif;
}

.content section h2, .content section h3, .content section h4 {
	font-size: 48px;
	font-family: arial, serif;
	text-align: center;
}

.content h4 {
	font-size: 36px;
}

.section_header {
	overflow-wrap: break-word;
	font-size: 32px;
	font-family: arial, serif;
}

.content article {
	margin-top: 20px;
}

.content aside h3, .content aside h4 {
	color: #1A120B;
	text-decoration: underline;
	text-decoration-color: #3C2A21;
}

.content aside h4:hover {
	color: #A084CF;
	text-decoration-color: #A084CF;
}

.content aside h3:hover {
	color: #A084CF;
	text-decoration-color: #A084CF;
}

.content img {
	display: block;
	width: 75%;
	height: 55%;
	margin: 0% auto;
}

.content svg {
	display: block;
	margin: 0% auto;
}


/* ----------__________ FOOTER __________---------- */


footer {
	display: block;
	min-height: 20%;
	background-color: #594545;
	color: #FFF8EA;
	font-size: 48px;
	font-family: "sans-serif", arial;
	text-align: left;
	padding: 2% 10%;
}

footer h2 {
	font-size: 32px;
	text-align: center;
}

.footer_links {
	display: block;
	text-align: center;
}

.footer_link {
	display: block;
	text-decoration-line: underline;
	text-decoration-color: transparent;
	text-decoration-thickness: 1px;
	color: #fff8ea;
	margin-bottom: 4%;
}

.footer_link:hover {
	background-color: #a4879b44;
}

.footer_links a:hover {
	text-decoration-color: #fff8ea;
	color: #fff8ea;
}

i {
	font-size: 0.8em;
}


/* ----------__________ ANIMATIONS __________---------- */

/* START OF H2 ANIMATION FOR FOOTER */
@keyframes lights {
  0% {
    color: hsl(163, 70%, 90%);
    text-shadow:
      0 0 1em hsla(27, 70%, 81%, 0.2),
      0 0 0.125em hsla(27, 70%, 81%, 0.3),
      -1em -0.125em 0.5em hsla(141, 70%, 74%, 0),
      1em 0.125em 0.5em hsla(63, 70%, 86%, 0);
  }
  
  30% { 
    color: hsl(163, 70%, 80%);
    text-shadow:
      0 0 1em hsla(27, 70%, 81%, 0.5),
      0 0 0.125em hsla(27, 70%, 81%, 0.5),
      -0.5em -0.125em 0.25em hsla(141, 70%, 74%, 0.2),
      0.5em 0.125em 0.25em hsla(63, 70%, 86%, 0.4);
  }
  
  40% { 
    color: hsl(60, 70%, 70%);
    text-shadow:
      0 0 1em hsla(63, 70%, 86%, 0.5),
      0 0 0.125em hsla(63, 70%, 86%, 0.5),
      -0.25em -0.125em 0.125em hsla(141, 70%, 74%, 0.2),
      0.25em 0.125em 0.125em hsla(63, 70%, 86%, 0.4);
  }
  
  70% {
    color: hsl(60, 70%, 80%);
    text-shadow:
      0 0 1em hsla(27, 70%, 81%, 0.5),
      0 0 0.125em hsla(27, 70%, 81%, 0.5),
      0.5em -0.125em 0.25em hsla(141, 70%, 74%, 0.2),
      -0.5em 0.125em 0.25em hsla(63, 70%, 86%, 0.4);
  }
  
  100% {
    color: hsl(65, 70%, 90%);
    text-shadow:
      0 0 1em hsla(63, 70%, 86%, 0.2),
      0 0 0.125em hsla(63, 70%, 86%, 0.3),
      1em -0.125em 0.5em hsla(141, 70%, 74%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}

footer h2 {
	font: 100% / 1.5 Raleway, sans-serif;
	color: #FFF8EA;
	font-size: 36px;
	font-weight: 300;
	animation: lights 10s 750ms linear infinite;
}
/* END OF H2 ANIMATION FOR FOOTER */

/* START OF CONTENT HEADER ANIMATION */
@import url('https://fonts.googleapis.com/css?family=Cairo');

.content_header {
  font-family: "Cairo";
  background-color: #594545cc;
  background-size: 100% 100%;
  background-blend-mode: color-burn;
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  letter-spacing: 1px;
  line-height:2;
  width: 100%;

}

.content_header h2 {
  background-image: url("https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif");
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px white;
  text-transform: uppercase;
  font-size: 64px;
  margin: 10px 0;
  text-shadow: 0 0 2px #f2faf09a;
}

/* END OF CONTENT HEADER ANIMATION */


/* ----------__________ TABLET VIEW __________---------- */

@media screen and (min-width: 900px) {
	/* ----------__________ NAVIGATION __________---------- */

	.top_nav {
		float: left;
		overflow: hidden;
		position:fixed;
		top: 0;
	  width: 100%;
		display: block;
		background-color: #594545;
		color: #FFF8EA;
		font-size: 24px;
		font-family: "sans-serif", arial;
	  z-index:10;
	  opacity: 1;
	  align-items: center;
	}

	.top_nav {
		display: inline-flex;
		justify-content: end;
		padding: 0% 2%;
	}

	.left_nav {
		display: inline-block;
		width: 45%;
		margin-right: 10%;
	}

	.left_nav img {
		display: inline-block;
		width: 15%;
		height: auto;
		padding: 2%;
		margin: 0 auto;
	}

	.left_nav abbr {
		text-decoration: none;
	}

	.right_nav {
		width: 40%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

	.right_nav ul {
		display: inline-block;
		width: 90%;
		margin-bottom: 0;
		padding: 2%;
	}

	.right_nav li {
		display: inline-block;
		margin: 0% 2%;
		width: fit-content;
		padding: 1% 2%;
		text-align: center;
	}

	.right_nav a {
		display: inline-block;
		font-size: 24px;
	}


	/* ----------__________ CONTENT __________---------- */

	.content img {
		width: 30%;
		height: auto;
	}

	#page_header {
		font-size: 96px;
	}

	.content section p, .content section li {
		font-size: 32px;
	}

	.content section h2, .content section h3, .content section h4 {
		font-size: 48px;
	}

	.content h4 {
		font-size: 36px;
	}

	/* ----------__________ FOOTER __________---------- */

	footer {
		display: block;
		min-height: auto;
		height: 25%;
		font-size: 24px;
		font-family: "sans-serif", arial;
		padding: 2% 2% 25px;
	}

	.footer_link {
		display: block;
		margin: 0% 20%;
		font-size: 24px;
	}
}


/* ----------__________ LARGE VIEW __________---------- */

@media screen and (min-width: 1400px) {
	/* ----------__________ NAVIGATION __________---------- */

	.left_nav img {
		width: 10%;
	}

	/* ----------__________ CONTENT __________---------- */

	#page_header {
		font-size: 84px;
	}

	.content img {
		display: inline-block;
		float: left;
		width: 20%;
		height: auto;
		margin: 0% 2% 1%;
	}

	.content_header img {
		display: block;
		width: 20%;
		min-height: 30%;
		max-height: 50%;
	}

	.content section {
		display: block;
		min-height: auto;
		font-size: 24px;
		padding: 2% 2% 25px;
	}

	.content section p, .content section li {
		font-size: 24px;
	}

	.content section h2, .content section h3, .content section h4 {
		font-size: 36px;
	}

	.content h4 {
		font-size: 32px;
	}

	/* ----------__________ FOOTER __________---------- */

	footer {
		position: relative;
		height: 20%;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	}

	.footer_link {
		display: inline-block;
	}

	.footer_links {
		display: block;
		margin: 0 auto;
	}
}
